@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --button-ripple-color: oklch(0.145 0 0 / 0.3);
}

.dark {
  --button-ripple-color: oklch(0.985 0 0 / 0.5);
}

@layer base {
  * {
    direction: rtl;
    font-family: 'Vazirmatn', sans-serif;
  }

  body {
    @apply bg-cream text-dark antialiased;
    min-height: 100vh;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-cream;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-pink-300 rounded-full;
  }
}

@layer utilities {
  .touch-scroll {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
  }
}
