@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    direction: rtl;
    font-family: 'Vazirmatn', sans-serif;
  }

  body {
    @apply bg-cream text-dark antialiased;
    min-height: 100vh;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-cream;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-pink-300 rounded-full;
  }
}
